@import "tailwindcss";
@theme{
  --color-primary-color: #3c388f;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #026ce4ff;
  --primary-color-dark: rgb(0, 58, 125);
  --secondary-color: white;
  --accent-color: #FFA200;
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

